[Unit]
Description=Viestinta Lecture Interaction Backend
Requires=docker.service
After=docker.service

[Service]
Restart=always
EnvironmentFile=/etc/viestinta/viestinta.prod.env
ExecStart=/usr/local/bin/docker-compose -f /git/prod/viestinta/docker-compose.prod.yml up
ExecStop=/usr/local/bin/docker-compose -f /git/prod/viestinta/docker-compose.prod.yml stop

[Install]
WantedBy=multi-user.target
