[Unit]
Description=Viestinta Lecture Interaction Backend Development Version
Requires=docker.service
After=docker.service

[Service]
Restart=always
EnvironmentFile=/etc/viestinta/viestinta.dev.env
ExecStart=/usr/bin/docker-compose -f /git/dev/viestinta/docker-compose-prod.yml up
ExecStop=/usr/bin/docker-compose -f /git/dev/viestinta/docker-compose-prod.yml stop

[Install]
WantedBy=multi-user.target
